.home-page {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.pointCard {
    max-width: 100%;
    margin: 15px auto;
}

.timeline {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
