.header {
    height: 50px;
    width: 100%;
    background-color: coral;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    margin: 0;
    padding: 0;

    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.menue {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
}

.navigates {
    background-color: rgb(241, 231, 217);
    height: 200px;
    width: 20vw;
    border-radius: 10px;
    margin-top: 10px;
}

ul {
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

li {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    font-size: small;
    border-bottom: #3b3838 solid 1px;
}

.link {
    color: #3b3838;
    text-decoration: none;
}

